body {
	width: 1366px;
	margin:auto;
}
.title1 {
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	color: #5863F8;
	font-size: 14px;
	margin-top: 82px;
	

}
.title2 {
	font-family: 'Poppins', sans-serif;
	font-size: 42px;
	font-weight: 900px;
	width: 498px;


}
.container1 {
	width: 1366px;
	margin:47px auto;
	display: inline-block;
}
.left-food-box {
	width: 45%;
	background-color: #F8F8F8;
	float: left;
}
.right-food-box {
	width: 45%;
	background-color: #F8F8F8;
	float: right;
}
.image-food {
	float: left;
	margin-right: 16px;
}
.text-food {
	float: left;
	width: 260px;
}
.box-h2{
	font-family:'Poppins', sans-serif;
	font-size: 14px;
	color:#5863F8;

}	
.box-h3{
	font-family:'Poppins', sans-serif;
	font-size: 14px;
	color:#000000;

}	
.box-p {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color:#B1B1B1 ;
	margin-top: 10px;
}
.clear {
	clear: both;
}

